@model List<BasketItemViewModel>

<div class="cart-total">
    <span class="text-number">
        1
    </span>
    <span class="text-item">
        Shopping Cart
    </span>
    <span class="price">
        £0.00
        <i class="fas fa-chevron-down"></i>
    </span>
</div>
<div class="cart-dropdown-block">
    <div class=" single-cart-block ">

        @foreach (var bi in Model)
        {
            <div class="cart-product">
                <a href="product-details.html" class="image">
                    <img src="~/image/products/cart-product-1.jpg" alt="">
                </a>
                <div class="content">
                    <h3 class="title">
                        <a href="product-details.html">
                            @bi.Book.Name
                        </a>
                    </h3>
                    <p class="price"><span class="qty">@bi.Count ×</span> £ @bi.Book.SalePrice</p>
                    <button class="cross-btn"><i class="fas fa-times"></i></button>
                </div>
            </div>

        }

    </div>
    <div class=" single-cart-block ">
        <div class="btn-block">
            <a href="cart.html" class="btn">
                View Cart <i class="fas fa-chevron-right"></i>
            </a>
            <a href="checkout.html" class="btn btn--primary">
                Check Out <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>