@model BasketViewModel

<div class="cart-total">
    <span class="text-number">
        @Model.Items.Count
    </span>
    <span class="text-item">
        Shopping Cart
    </span>
    <span class="price">
        £@Model.TotalPrice.ToString("0.00")
        <i class="fas fa-chevron-down"></i>
    </span>
</div>
<div class="cart-dropdown-block">
    <div class=" single-cart-block ">

        @foreach (var bi in Model.Items)
        {
            <div class="cart-product">
                <a href="product-details.html" class="image">
                    <img src="~/image/products/@bi.Book.BookImages.FirstOrDefault(x=>x.PosterStatus==true)?.ImageName" alt="">
                </a>
                <div class="content">
                    <h3 class="title">
                        <a href="product-details.html">
                            @bi.Book.Name
                        </a>
                    </h3>
                    <p class="price"><span class="qty">@bi.Count ×</span> £@((bi.Book.DiscountPercent>0?(bi.Book.SalePrice*(100-bi.Book.DiscountPercent)/100):bi.Book.SalePrice).ToString("0.00"))</p>
                    <a asp-action="removebasket" asp-controller="book" asp-route-id="@bi.Book.Id" class="cross-btn removefrombasket"><i class="fas fa-times"></i></a>
                </div>
            </div>

        }

    </div>
    <div class=" single-cart-block ">
        <div class="btn-block">
            <a href="cart.html" class="btn">
                View Cart <i class="fas fa-chevron-right"></i>
            </a>
            <a asp-action="checkout" asp-controller="order" class="btn btn--primary">
                Check Out <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>