@model Genre
@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Create New Genre</h1>
        <form asp-action="create" method="post">
            <div class="form-group">
                <label asp-for="Name">Genre Name</label>
                <input class="form-control" placeholder="Enter Genre Name" asp-for="Name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

